header{
    text-align: center;
    background-color: aqua;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.formBTN{
    margin-top: 10px;
    text-align: end;
}

.createForm{
    margin: auto;    
    justify-content: center;
}

.modal-close{
  position: absolute;
    right: 6px;
    top: 10px;
}


.removeQuestion{
    cursor: pointer;
    color: red;
}

.performSurvey{
    border: 1px solid grey;
    padding: 10px;
    max-width: 800px;
    margin: auto;
}

.alignCenter{
    display: flex;
    justify-content: space-around;
}